

.navbarContainer {
  position: fixed; 
  right: 0; 
  margin-right : 15em;
  justify-content: center; 
  width: 28%; 
  background-color: #191919; 
  color: #F5F0EC; 
  padding: 20px;
  z-index: 1000;
  border-radius : 0 0 5px 5px;

  @media screen and (max-width: 1650px) {
    width: 60%; 
    margin-right : 0rem;
    font-size: 1em;
    padding : 12px;
  }
}

.title {
  font-family: 'Martian Mono', sans-serif;
  font-weight: 200;
  font-size: 1.35em;

}
