.ElementsNavbar {
  display: flex; 
  z-index: 1000;
  position: fixed;
  right: 0;
  margin-right : 8em;
  top: 7em;

  @media screen and (max-width: 1650px) {
    margin-right : 1rem;
    margin-top : -0.5rem;
    font-size: 1em;
  }
}

.navbarContainer {
  position: fixed; 
  right: 0; 
  margin-right : 8em;
  justify-content: center; 
  width: 28%; 
  background-color: #191919; 
  color: #F5F0EC; 
  padding: 20px;
  z-index: 1000;
  border-radius : 0 0 5px 5px;

  @media screen and (max-width: 1650px) {
    width: 60%; 
    margin-right : 0rem;
    font-size: 1em;
    padding : 12px;
  }
}

.title {
  font-family: 'Martian Mono', sans-serif;
  font-weight: 200;
  font-size: 0.7em;
}

.subtitle {
  font-family: 'Cormorant Garamond', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.2em;
  margin-right: 0.2em;

}

.link {
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: #191919;
  font-family: 'Cormorant Garamond', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.3em;
  transition: background-color 0.3s;
  padding: 10px; 
}

.link:hover {
  border: 1px solid #191919;
  background-color: #F5F0EC;
  border-radius: 10px;
  padding: 9px;
  text-decoration: none;
}

